body{
  background-color: #888;
  color: #000;
  font-family: 'Coiny', cursive;
  font-size: 1.25em;
  text-align: center;
}
#local{
  font-size: 2.5em;
}
#city{
  font-size: 2em;
}
#current{
  font-size: large;
}
i {
    color: #000;
}
header{
	display: block;
}
#kTemp,
#fTemp,
#cTemp{
	display: none;
}
#forecast i{
  font-size: 50px;
}
.ui.fluid.card{
  background-color: rgba(15, 15, 15, 0.2);
  box-shadow: none;
}